
body{
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
.shadowbg{
	background:url(images/page_shadow.png) repeat-y top center;
}
.wrap{
	width:1000px;
	text-align:left;
}
.footer .nav{
	background:url(images/footer_navbg.gif);
	height:33px;
	line-height:33px;
	text-align:center;
	color:#FFF;
	font-size:13px;
	font-family:arial;
}
.footer .nav a{
	color:#FFF;
}
.topMenu{
	background:url(images/nav_bg.gif);
	height: 37px;
}
.header{

}
.topMenu ul li {
	float: left;
	display: inline;
	margin-left: 55px;
	padding-top: 7px;
	font-size: 18px;
	font-weight: bold;
	font-family: "宋体";
}
.footer .comment{
	padding-top:20px;
	padding-bottom:70px;
	text-align:center;
	color:#999;
	font-size:13px;
}
.rightBar{
	background:url(images/r_bg.gif);
	float: right;
	width: 270px;
}
.rightHeader{
	background:url(images/tit_03.gif) no-repeat left top;
	overflow: hidden;
	margin-top:8px;
	height : 35px;
	width : 265px
}
.rightHeader h3{
	color: white;
	display: block;
	float: left;
	font-size: 16px;
	padding : 10px 0px 0px 15px;
	margin: 0;
}
.rightHeader span{
	float: right;
}
.links li{
	display: block;
	text-align: justify;
	line-height: 24px;
	height: 24px;
	word-wrap: break-word;
	overflow: hidden;
	background: url(images/deshed_03.gif) repeat-x left bottom
}
.links li a {
	padding:0px 0px 0px 15px;
	float: left;
	background: url(images/li_icon.gif) no-repeat 5px 10px;
	color: #666;
}
.honorImg{
	width: 266px;
	height: 78px;
}