
body{
	margin:0;
	padding:0;
	background:url(images/bg.gif) repeat-x;
}
image{
	border:0;
}
ul{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
.shadowbg{
	background:url(images/page_shadow.png) repeat-y top center;
}
.wrap{
	width:1000px;
	background:#FFF;
}
.wrap2{
	width:990px;
	text-align:left;
}
.footer .nav{
	background:url(images/footer_navbg.gif);
	height:33px;
	line-height:33px;
	text-align:center;
	color:#FFF;
	font-size:13px;
	font-family:arial;
}
.footer .nav a{
	color:#FFF;
	padding:0 10px;
}
.topMenu{
	background:url(images/nav_bg.gif);
	height: 37px;
	line-height:37px;
}
.header{
	width:990px;
	overflow-x:hidden;
}
.topMenu ul li {
	float: left;
	display: inline;
	margin-left: 55px;
	font-size: 15px;
	font-weight: bold;
	font-family: "宋体";
	color:#FFF;
}
.hoverItem {
	background:url(images/hover_bg.gif) no-repeat center;
	display: block;
	overflow: hidden;
}
.footer .comment{
	padding-top:20px;
	padding-bottom:70px;
	text-align:center;
	color:#999;
	font-size:13px;
}
.main{
	margin:5px 0;
	overflow:hidden;
	zoom:1;
}
.leftBar{
	width:700px;
	float:left;
}
.news .title{
	background:url(images/new_tit.gif);
	height:32px;
}
.news .title label{
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	display:block;
	float:left;
	width:100px;
	text-align:center;
	height:32px;
	line-height:32px;
}
.news .title a{
	width:50px;
	height:32px;
	float:right;
	background:url(images/more.gif) no-repeat center center;
}
.news .content{
	background:url(images/news_bg.gif);
	height:200px;
}
.news .content .image{
	margin-top:10px;
	margin-left:10px;
	float:left;
	width:230px;
	height:180px;
	overflow:hidden;
	position:relative;
}
.news .content .links{
	margin-top:10px;
	margin-right:15px;
	width:430px;
	height:180px;
	float:right;
}
.news .content .links a{
	display:block;
	color:#667;
	background: url(images/li_icon.gif) no-repeat center left;
	padding-left:7px;
}
.slideShow{
	height:250px;
	background:#000;
	margin-bottom:5px;
	position:relative;
	overflow:hidden;
}
.slideShow img{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.rightBar{
	background:url(images/r_bg.gif) no-repeat bottom left;
	float: right;
	width: 270px;
	height:500px;
}
.rightBar .rightPadding{
	margin:0 7px;
}
.rightHeader{
	background:url(images/tit_03.gif) no-repeat left top;
	overflow: hidden;
	margin-top:8px;
	height : 35px;
	width : 265px
}
.rightHeader h3{
	color: white;
	display: block;
	float: left;
	font-size: 14px;
	padding : 10px 0px 0px 15px;
	margin: 0;
}
.rightHeader span{
	float: right;
}
.rightlinks li{
	display: block;
	text-align: justify;
	line-height: 24px;
	height: 24px;
	word-wrap: break-word;
	overflow: hidden;
	background: url(images/deshed_03.gif) repeat-x left bottom
}
.rightlinks li a {
	padding:0px 0px 0px 15px;
	float: left;
	background: url(images/li_icon.gif) no-repeat 5px 10px;
	color: #666;
}
.honorImg{
	margin-top:20px;
	width: 266px;
	height: 78px;
}
.textArea{
	padding: 20px 0px 40px 5px;
}
.textHeader{
	background: #EFF3F8 left;
	float: left;
	width: 700px;
	height: 25px;
	margin-left: 10px;
}
.textHeader h3 {
	color: #0045A5;
	display: block;
	font-weight: bold;
	font-size: 16px;
	margin: 5px 0px 0px 20px;
	margin-left: 20px;
}
.textContent{
	margin-top: 40px;
	margin-left: 20px;
	font-size: 14px;
	color: #666;
	text-align: justify;
	line-height: 180%;
}